{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "spaceBeforeFunctionParen": "always",
    "jsxBracketSameLine": true
}
